{% extends "../layout.html" %}
{% block body %}

<title>BP Fundamentals - Randy Goodson</title>

<div class=header>
    <h1>Business Process Fundamentals Training: Workday</h1>
</div>

<div>

   <h3>Description</h3>

   <p>The Workday business process framework consists of a powerful set of tools that enable automation of business processes and to deliver the right information to the right people, at the right time. Through a series of demos and hands-on activities, this course introduces you to the fundamentals of business process configuration and administration to support the successful deployment and ongoing management of business processes.</p>

   <p>This course covers the following topics:
   <ul><li>Business Process definition configuration
    <li>Adding condition rules to apply further logic to business processes
    <li>Using notifications, documents, and reports in business process transactions
    <li>Configuration of Business Process security to support defined roles and tasks
    <li>Testing and troubleshooting of Business Processes
    <li>Managing Business Process events as an administrator
   </ul></p>

<br>

 </div>

{% end %}
