{% extends "../layout.html" %}
{% block body %}

<title>Report Writer - Randy Goodson</title>

<div class=header>
    <h1>Report Writer Training: Workday</h1>
</div>

<div>

   <h3>Description</h3>

   <p>This course introduces the Workday Report Writer tool to leverage Workday business objects and data sources to access the report data needed for various reporting needs. Additionally, this training also teaches building custom reports to meet business requirements from various functional areas.</p>

   <p>This course covers the following topics:
   <ul><li>Building Custom Reports
       <li>Sorting and Filtering
       <li>Prompting
       <li>Totaling, Grouping, and Outlining
       <li>Report Security
       <li>Scheduling Reports
       <li>Introduction to Discovery Boards
       <li>Introduction to Matrix Reports
       <li>Working with Calculated Fields
   </ul></p> 

<br>

 </div>

{% end %}
