{% extends "../layout.html" %}
{% block body %}

<title>SHRM-CP - Randy Goodson</title>

<div class="form-container">
<div class="col-md-8">
    <h1>SHRM-CP</h1>

<hr style="width: 100%">

<div>
   <p>The Society for Human Resource Management - Certified Professional (SHRM-CP for short) is a certification designed to measure an HR professional's ability to apply HR principles to real-life situations. To qualify for the certification, an individual must show relevant education and experience, and take and pass a two-part, approximately four hour long multiple-choice exam.</p>

   <p>The exam is administered by the Society for Human Resources Management (SHRM), which is an organization with 300,000 members worldwide and supports HR professionals through education, training, networking, and lobbying on behalf of policies that are fundamental to HR and labor management. SHRM serves the needs of the human resource management professional by providing the most essential and comprehensive set of resources available.</p>

   <p>To learn more about SHRM, visit their website: <a href="https://www.shrm.org/about-shrm/pages/default.aspx">SHRM Site</a></p>

   <p>For more information on the SHRM-CP, visit the about page: <a href="https://www.shrm.org/certification/apply/eligibility-criteria/pages/default.aspx">SHRM-CP</a></p>

<br>
<a href="https://bcert.me/sgibamhkh"><img src="../static/badge-5514.png" alt="Cert Proof - Randy Goodson" class="headshot"/></a>

</div>
</div>
</div>

{% end %}
