{% extends "../layout.html" %}
{% block body %}

<title>Time Off Fundamentals - Randy Goodson</title>

<div class="form-container">
<div class="col-md-8">

    <h1><span>Workday </span> <bar>| </bar>Time Off Fundamentals</h1>

<hr style="width: 100%">

<div>

   <h3>Description</h3>

   <p>This four-day course includes lectures, demonstrations, and hands-on activities covering time off setup and administration. You will apply the core concepts of Workday Absence Management to:
    <ul><li>Configure time off functionality
        <li>Set up time off calculations using the Workday calculation engine
        <li>Configure time off business processes
        <li>Perform time off administrative tasks
    </ul></p>
    <p>In addition, you will learn how to use standard and custom reports, as well as time off dashboards, and calendars to view time off related information.</p> 

  <p>This course will prepare you to set up and administer the Time Off function in Workday Absence Management, by covering:
   <ul><li>Navigation and fuctioning withing Workday to perform time off-related tasks
       <li>Differntiating between time off and leave of absence
       <li>Configuring a time off plan and its components
       <li>Building calculations through the calculation engine to meet time off plan requirements
       <li>Using absence type groups and absence tables to manage time offs
       <li>Managing time off, including overrides, adjustments, and corrections
       <li>Editing time off business processes
       <li>Viewing time off-related information using standard and custom reports
       <li>Access absence-related dashboards and calendars to view time off information
   </ul></p> 

<br>

</div>
</div>
</div>

{% end %}
