html {
  overflow-y: scroll;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 100%;
  overflow: hidden;
}

body.dark {
  background-color: #000814;
  color: #006eff;
}

.btn {
  border-radius: 30px;
  border: 2px solid #3b6077;
  color: #000814;
  background-color: #000814;
}

body.dark .btn {
  color: #D0D0D7;
  background-color: #D0D0D7;
}

.row {
  margin: 2px;
}

h1 {
  color: #006eff;
  /* color: #002b4c; */
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  display: inline-block;
}

body.dark h3 {
  color: white;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

body.dark p {
  color: white;
}

a {
  color: #006eff;
}

body.dark a {
 color: #006eff;
}

body.dark nav a {
 color: white;
}

a:hover {
  text-decoration: none; 
  color: #3b6077;
}

body.dark a:hover {
  color: #00b6ff
}

svg {
  color: yellow;
}
.content {
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.social-icon {
  padding-right: 15px;
  text-align: right;
}
.social-icon svg {
  margin-top: 10%;
  margin-right: 15px;
  padding-right: 2px;
  float: left;
  border-bottom: 0px none #000;
}

img.headshot {
    width: 70%;
}

img.card-img-top {
  max-width: 100%;
  min-height: 150px;
  max-height: 200px;
  object-fit: cover;
}

img.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
}

.container {
  margin-top: 20px;
}

.hidden {
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0%;
  background-color: #002b4c;
  width: 320px;
  height: 200vh;
  padding-top: 50px;
  /* transition: right 0.3s ease-in-out; */
  z-index: -1;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 50px;
}

.nav li {
  text-align: center;
}

.nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 23px;
  padding: 15px;
  transition: color 0.2s;
}

.nav a:hover {
  color: #f9f8fd;
}


.menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 999;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #3b6077;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

body.dark .menu-toggle span {
  background-color: white;
}

.menu-toggle.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Show the nav when toggle is clicked */
.menu-toggle.open ~ .nav {
  opacity: 100%;
  right: 0;
  z-index: 998;
}

