:root {
  --brandy-blue: #006eff;
  --dark-brandy: #002b4c;
  --mint: #BEE3DB;
  --hunter-green: #3F6C51;
  --seasalt: #FAF9F9;
  --ash-gray: #D0D0D7;
  --dark-blue: #000814;
}

html {
  overflow-y: scroll;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--seasalt);
}

body.dark {
  background-color: var(--dark-blue);
  color: var(--brandy-blue);
}

.display-btn {
  position: absolute;
  top: 32px;
  left: 40px;
  border-radius: 30px;
  border: 2px solid #3b6077;
  color: var(--dark-blue);
  background-color: var(--dark-blue);
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.display-btn:hover{
  background-color: #3b6077;
}

body.dark .display-btn {
  background-color: var(--ash-gray);
}

body.dark .display-btn:hover {
  background-color: white;
}

.button {
  display: inline;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--brandy-blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--dark-brandy);
}

.select {
  cursor: pointer;
  border-radius: 6px;
  padding: 2px 10px 4px 2px;
}

input[type="text"] {
  margin-left: 10px;
  margin-top: 2px;
  border-radius: 6px;
  padding: 4px 10px 4px 2px;
  max-width: 55%;
}

input[type="submit"] {
  float: right;
  margin-right: 15px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--brandy-blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--dark-brandy);
}

input::file-selector-button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input::file-selector-button:hover {
  background-color: #3b6077;
}

body.dark input::file-selector-button {
  background-color: gray;
}

.row {
  margin: 2px;
}

h1 {
  color: var(--brandy-blue);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
}

h1.inv {
  color: var(--dark-brandy);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
}

h2 {
  color: var(--dark-brandy);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  display: inline-block;
}

body.dark h1.inv {
  color: var(--brandy-blue);
}

body.dark h2 {
  color: var(--brandy-blue);
}

body.dark h3 {
  color: white;
}

hr {
  width: 65%;
  text-align: center;
}

body.dark hr {
  border-color: white;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
}

body.dark p {
  color: white;
}

a {
  color: var(--brandy-blue);
}

body.dark a {
 color: var(--brandy-blue);
}

body.dark nav a {
 color: white;
}

a:hover {
  text-decoration: none; 
  color: #3b6077;
}

body.dark a:hover {
  color: #00b6ff
}

svg {
  margin-right: 15px;
}

body.dark path {
  fill: white;
}

content {
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.social-icon {
  padding-right: 15px;
  text-align: right;
}
.social-icon svg {
  margin-top: 10%;
  margin-right: 15px;
  padding-right: 2px;
  float: left;
  border-bottom: 0px none #000;
}

img.headshot {
  width: 70%;
}

img.card-img-top {
  max-width: 100%;
  min-height: 150px;
  max-height: 200px;
  object-fit: cover;
}

img.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
}

.container {
    margin-top: 20px;
}

.hidden {
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0%;
  background-color: var(--dark-brandy);
  width: 320px;
  height: 200vh;
  padding-top: 50px;
  z-index: -1;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 50px;
}

.nav li {
  text-align: center;
}

.nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 23px;
  padding: 15px;
  transition: color 0.2s;
}

.nav a:hover {
  color: #00b6ff;
}


.form-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

fieldset {
    margin-bottom: 20px;
    border: 2px solid #3b6077;
    border-radius: 10px;
    height: 200px;
    max-width: 100%;
}

legend {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-brandy);
    margin-bottom: 10px;
    margin-left: 20px;
    width: auto;
    padding-left: 2px;
    padding-right: 2px; 
}

body.dark legend {
  color: white;
}

.hidden {
  overflow: hidden;
}

.menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 999;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #3b6077;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

body.dark .menu-toggle span {
  background-color: white;
}

.menu-toggle.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle.open ~ .nav {
  opacity: 100%;
  right: 0;
  z-index: 998;
}

@media (max-width: 400px) {
    
    .display-btn {
        height: 45px;
        width: 60px;
        left: 25px;
    }

    .bpu input {
        float: unset;
        width: 100%;
    } 
}
