{% extends "layout.html" %}
{% block body %}

<title>Certs & Trainings - Randy Goodson</title>
<div class="form-container">
    <div class="col-md-8">
        <h2>Certifications and Trainings</h2>
        <p>Below are some professional certifications and trainings that I have acheived</p>

    <hr style="width: 100%">

    <div style="margin-top:30px">
        {% for cert in descriptions %}
        <h3 style="text-align:left;"><a href="/certsandtrainings/{{ cert['path'] }}" title="">{{ cert['title'] }}</a></h3>
            <p>{{ cert['description'] }}</p>
        {% end %}
</div>
</div>

{% end %}
