<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url("main.css") }}">

</head>

<br>
<button id="mode" class="btn" color="black">🌙</button>

  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="nav">
   <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/whatido">What I Do</a></li>
   <li><a href="/certsandtrainings">Certs & Trainings</a></li>
   <li><a href="/resume">Resume</a></li>
   <li><a href="/tools">Tools</a></li>
   </ul>
  </nav>

<div class="padding" style="display:block; min-height: 50px;">&nbsp;</div>

<main role="main" class="container">
      <div class="row">
        {% block body %}Default body{% end %}
        </div>
    </main>

<script>
let storage = {darkMode: "disabled"}

function userPreferesDarkMode() {
  return localStorage.getItem("darkMode") === "enabled";
}

function setThemePreference(value) {
  localStorage.setItem("darkMode", value || "disabled");
}

const enableDarkMode = () => {
  // 1. Add the class to the body
  document.body.classList.add("dark");
  // 2. Change button emoji to ☀️ when enabling dark mode
  document.getElementById('mode').textContent = '☀️';
};

const disableDarkMode = () => {
  // 1. Remove the class from the body
  document.body.classList.remove("dark");
  // 2. Change button emoji to 🌙 when disabling dark mode
  document.getElementById('mode').textContent = '🌙';
};

function setTheme() {
  // If the user already visited and enabled darkMode
  // start things off with it on
  if (userPreferesDarkMode()) {
    enableDarkMode();
  } else {
    disableDarkMode();
  }
}

function bootstrap() {
  const darkModeToggleButton = document.querySelector("#mode");
  darkModeToggleButton.addEventListener("click", () => {
    if (userPreferesDarkMode()) {
      setThemePreference("disabled");
      disableDarkMode();
    } else {
      setThemePreference("enabled");
      enableDarkMode();
    }
  });

  setTheme();
}

document.addEventListener("DOMContentLoaded", function(event) {
  // Your code to run since DOM is loaded and ready
  bootstrap();
});
    const menuToggle = document.querySelector('.menu-toggle');
    const nav = document.querySelector('.nav');

    menuToggle.addEventListener('click', function() {
      this.classList.toggle('open');
      nav.classList.toggle('open');
    });

</script>

</html>
