<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url("main.css") }}">

</head>

<br>
<button id="mode" class="display-btn" color="black">🌙</button>

  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="nav">
   <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/whatido">What I Do</a></li>
   <li><a href="/certsandtrainings">Certs & Trainings</a></li>
   <li><a href="/resume">Resume</a></li>
   <li><a href="/tools">Tools</a></li>
   </ul>
  </nav>

<div class="padding" style="display:block; min-height: 50px;">&nbsp;</div>

<main role="main" class="container">
      <div class="row">
        {% block body %}Default body{% end %}
        </div>
    </main>

<script src="/static/darkmode.js"></script>
</html>
