{% extends "layout.html" %}
{% block body %}

<title>Buddy Photo Uploader</title>

<div class="form-container">
    <h1 class="inv"; style="text-align: center; width: 350px; margin-bottom: 40px; margin-top: 0px;">Thank You!</h1>
    <p style="text-align: center;">Your photo was successfully submitted to Birthday Bot!</p>
    <button class="button" style="margin-top: 10px; text-align: center; width: 350px; padding: 8px; font-size: 20px;" onclick="window.location.href='/buddy-photo-upload'";>Submit Another</button> 
</div>

{% end %}

