{% extends "layout.html" %}
{% block body %}

<title>QR Code Generator</title>

<div class="form-container">
    <div class="col-md-8">
        <h1>QR Code Generator</h1>
        <p>
            QR Code for <b>{{ link }}</b>
        </p>

    <hr style="width: 100%">

    <div>
        <p></p>
        <fieldset style="width: 294px;height: 332px;">
            <legend>QR Code</legend>
            <img id="qr_code" style="border-radius: 8px;" src="data:image/png;base64, {{ qr_str }}" alt="QR Code" title="{{ domain }}"/>
        </fieldset>
        <a id="save" download="test.com.png" class="button" style="float: left;background-color: lightgray;font-size: 24px;padding: 6px 10px 6px 10px;display: inline;">💾</a>
        <button class="button" style="margin-left: 175px; font-size: 16px;" onclick="window.location.href='/qr'";>Reset</button>
    </div>
</div>
</div>
    <script>
        document.getElementById('save').addEventListener('click', function () {
            var image = document.getElementById('qr_code');
            var canvas = document.createElement('canvas');
            canvas.width = image.width;
            canvas.height = image.height;

            var ctx = canvas.getContext('2d');
            ctx.drawImage(image, 0, 0);

            var dataURL = canvas.toDataURL('image/png');
            this.href = dataURL;
        });
    </script>

{% end %}
