{% extends "layout.html" %}
{% block body %}

<title>Tools</title>

<div class="col-md-8">
    <h1>Tools</h1>
    <p>Here are a few tools I've written in Python for various uses!</p>
</div>

<hr style="width:50%;text-align:left;margin-left:0">

<div class="col-md-8" style="margin-top:30px">
        {% for tool in descriptions %}
        <h3 style="text-align:left;"><a href="../{{ tool['path'] }}" title="">{{ tool['title'] }}</a></h3>
            <p>{{ tool['description'] }}</p>
        {% end %}
</div>

{% end %}
