{% extends "layout.html" %}
{% block body %}

<title>URL Shortener</title>

<div class="form-container">
<div class="col-md-8">
    <h2>URL Shortener</h2>
    <p>
       Copy and paste the link for which you'd like to be shortened, then click Generate.
    </p>
</div>

<hr>

<div class="col-md-8">
    <p></p>
    <form method="POST">
        <fieldset style="width: 380px;height: 100px;">
            <legend>Link</legend>
                <label for="link"></label>
                    <input type="text" name="link" id="link">
                    <input type="submit" value="Generate" style="display: inline;">
        </fieldset>
    </form>
</div>

</div>
{% end %}
