{% extends "layout.html" %}
{% block body %}

<title>What I Do - Randy Goodson</title>

<div class="form-container">
<div class="col-md-8">
    <h1>What I Do</h1>
    <hr style="width: 100%;">
    <p>Currently, I serve as an HR Systems Analyst for RGP (<a href="https://rgp.com/">Resources Global Professionals, LLC</a>), in which I act as a liaison between the business functional teams and our internal HRIS team. I translate a business need into a technical need (primarily in Workday) and collaborate cross-functionally to assess downstream impacts, develop and execute test scripts, and coordinate with the HRIS team to determine implementation strategies. Additionally, I perform system audits to ensure data accuracy, monitor business process SLA completion, and serve as a point of contact for functional teams to resolve or troubleshoot system-related issues.</p>


<p>In addition to the responsibilities outlined above, I actively seek opportunities to automate processes or tasks using Python to improve efficiency and accuracy. My goal in developing these custom scripts is always the same: to reduce resource time and minimize human error, which allows teams to focus more on complex tasks and critical issues. This not only streamlines repetitive tasks but also improves overall productivity.<!--To see examples of my Python automation projects, please visit the <a href="/projects">Projects</a> page.--></p>

    <p>In addition to my position with RGP, I also volunteer with my local SHRM chapter: Brazos Valley SHRM as the President Elect for 2023. In this board position, I assist with running and supporting chapter operations. Volunteering also helps me stay up-to-date with Human Resources topics, as I am a bit removed in my current position.</p>

    <p>Familiar with HR and/or HRIS? Check out my <a href="/resume">Resume</a> for more a more in-depth explanation.</p>

</div>
</div>
{% end %}
