{% extends "layout.html" %}
{% block body %}

<title>What I Do - Randy Goodson</title>

<div class="col-md-8">
    <h1>What I Do</h1>
    <p>Currently, I serve as an HR Systems Analyst for RGP (<a href="https://rgp.com/">Resources Global Professionals, LLC</a>), which means I help the human resources team use a software called Workday. Workday is a tool that helps us manage all the information about our employees, such as their positions, departments, locations, and salaries. I help set up and maintain Workday so that it works well and has accurate data. I also use another software called Python to make some tasks easier and faster, typically by automating repetitive tasks.</p>

    <p>Sometimes, I need to make changes or add new features to Workday or other HR systems, and I test them to make sure they work properly. I also solve any problems that might come up with the systems and help other users learn how to use them. I work on different projects with the HRIS team, which is the group of people who are experts in Workday and other HR systems. We work together to make the systems better and more efficient.</p>

    <p>In addition to my position with RGP, I also volunteer with my local SHRM chapter: Brazos Valley SHRM as the President Elect for 2023. In this board position, I assist with running and supporting chapter operations. Volunteering also helps me stay up-to-date with Human Resources topics, as I am a bit removed in my current position.</p>

    <p>Familiar with HR and/or HRIS? Check out my <a href="/resume">Resume</a> for more a more in-depth explanation.</p>

</div>

{% end %}
