{% extends "layout.html" %}
{% block body %}

<title>What I Do - Randy Goodson</title>

<div class="col-md-8">
    <h1>What I Do</h1>
    <p>Currently, I serve as an HR Systems Analyst for RGP (<a href="https://rgp.com/">Resources Global Professionals, LLC</a>), where I work as a liaison
    between the Human Resources Operations (HR Ops) and the Human Resources Information Systems (HRIS) teams. HR Ops 
    serves as the more traditional Human Resources and the HRIS team as an IT department dedicated to implementing, configuring, 
    and maintaining our Human Capital Management system(s).</p>

    <p>RGP operates globally, with internal and consultant operations conducted in North America, Europe, and the Asia Pacific.
    In my role, I support each region regarding the testing/configuration of various Workday modules specific to each. As of this
    writing, RGP uses Workday as our central HCM with plans to sunset legacy systems soon and implement more Workday modules
    across each region (such as Time & Leave, Benefits, Compensation, and Talent Acquisition).</p>

    <p>In addition to my position with RGP, I also volunteer with my local SHRM chapter: Brazos Valley SHRM as the Audio Visual Coordinator. In this board position, I assist with the technical aspects of any BV-SHRM event. Volunteering also helps me stay up-to-date with Human Resources topics, as I am a bit removed in my current position.</p>

</div>

{% end %}
